@import '../../../../../assets/styles/variables.scss';

.navbar {
    background: $black1;
    height: $navbar-height;
    padding: $navbar-padding 0;
    text-align: center;

    .logo {
        border-radius: 6px;
        cursor: pointer;
        padding: 0 20px;
        margin: auto;
        width: $logo-width;

        img {
            width: $logo-width;
        }
    }
}