@import '../../../../../assets/styles/variables.scss';

.not-found {
    background: $gray1;
    height: 100%;
    overflow: hidden;
    padding-top: 5%;
    position: relative;
    text-align: center;
    width: 100%;

    .image {
        width: auto;
    }

    .subtitle {
        font-size: 24px;
    }

    .back {
        font-size: 16px;
    }
}