@import '../../../../../assets/styles/variables.scss';

.indicator-main {
    background: $gray1;
    min-height: $content-height;
    max-height: $content-height;
    overflow-y: auto;

    .indicators-content {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        .indicator-card {
            margin-bottom: 20px;
            width: 30%;
        }
    }
}

@media (max-width: 1281px) {
    .indicator-card {
        width: 45% !important;
    }
}

@media (max-width: 970px) {
    .indicator-card {
        width: 100% !important;
    }
}