@import './assets/styles/variables.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.main-title {
    color: $white1;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 0px 0px 4px $black1;
}

.main-body {
    padding: 25px 16%;
}


/** Scrollbar **/
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #444; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #333; 
}