/** VARIABLES **/
$navbar-height: 85px;
$navbar-padding: 5px;
$content-height: calc(100vh - 95px);
$logo-width: 250px;

/** COLORS **/
$black1: #000;
$gray1: #707070;
$purple1: #5254bd;
$turquoise1: #26c9d3;
$white1: #fff;